@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animation-delay-500 {
  animation-delay: 0.5s;
}

.animation-delay-700 {
  animation-delay: 0.7s;
}

.animation-delay-1000 {
  animation-delay: 1s;
}

@keyframes goesIn {
  from {
    translate: -400%;
  }

  to {
    translate: 0;
  }
}

.goes-in {
  animation: goesIn 1s;
}

@keyframes goesOut {
  from {
    translate: -200%;
  }

  to {
    translate: 0;
  }
}

.goes-out {
  animation: goesOut 1s;
}

.card {
  position: relative;
  display: flex;
  width: 190px;
  height: 254px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 130%;
  background-image: linear-gradient(
    180deg,
    #8a2be2,
    #00ffff
  ); /* BlueViolet to Aqua */
  background-size: 400% 400%;
  animation: animate 3s linear infinite;
  transition: all 0.3s linear;
  z-index: 1; /* Nằm dưới ::after */
}

.card::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #141414;
  border-radius: 15px;
  z-index: 2; /* Nằm trên ::before */
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-content {
  position: relative;
  z-index: 3;
}
